.header img{
    height:18px;
    width:152px;
   
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.header button
{
    
    background-color:  #6f9a37;
    color: white;
    height: 30px;
}