.card_conatiner
{
    display: flex;
}
#buy_now_btn button{
    background-color: #3f51b5;  
}
.services
{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.services_content{
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}
   